project-base/images/logo.png
project-base/images/perform-interface.png
project-base/images/build-interface.png
project-base/images/edit-interface.png
project-base/images/effects-rack.png
project-base/images/library-interface.png
project-base/images/mix-interface.png
project-base/images/sample-interface.png
project-base/images/slide-arrow.png
project-base/audio/drums-cave.m4a
project-base/audio/drums-dry.m4a
project-base/images/favicon.png
project-base/images/microphone.png
project-base/images/reverb-interface.png
