.features-layout{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.features-layout section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5em;
    padding-bottom: 5em;
}

.orange-line{
    border-bottom: #FF9D00 solid 4px;
}

.blue-line{
    border-bottom: #0086FF solid 4px;
}

.features-layout h2{
    font-size: 2.5em;
}

.features-layout p{
    font-size: 1.25em;
    margin-top: 1em;
}

sl-progress-bar{
    --indicator-color: #FF9D00;
    --track-color: #ffffff;
    --height: 4px;
    width: 100vw;
    position: fixed;
    top: 114px;
}

.feature-img{
    text-align: center;
    margin: 1em;
}

.feature-img p{
    text-align: left;
    margin: 1em;
}

.feature-text{
    width: 90%;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.feature-text img{
    margin-top: 2em;
}

.play-select-btn{
    position: relative;
    height: 60px;
}

.play-select-btn sl-button{
    position: absolute;
    top: 0;
    left: 0;
}

div{
    position: relative;
}

.play-select-btn p{
    margin-left: 150px;
    padding-top: 8px;
}

.play-select-btn sl-button i{
    position: inherit;
    font-size: 1em;
}

svg{
    height: 20%;
}

.fa-play{
    color: #0086FF;
}

@media only screen and (max-width: 1024px){
    .features-layout{
        width: 100%;
    }

    .features-layout section{
        display: block;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    sl-progress-bar{
        --indicator-color: #FF9D00;
        --track-color: #ffffff;
        --height: 4px;
        width: 100vw;
        position: fixed;
        top: 50px;
    }

    .feature-text img{
        display: block;
        padding-left: 0;
        width: 90%;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .feature-text{
        width: 100%;
        margin-top: 1em;

    }

    .play-select-btn sl-button{
        position: absolute;
        right: 20px;
        margin-left: 80%;
        width: 75px;
    }

    .play-select-btn p{
        margin-left: 0px;
        padding-top: 8px;
        font-size: 0.9em;
    }

    .features-layout h2{
        font-size: 2em;
    }

    .feature-img{
        width: 90%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}