.support-layout{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    width: 946px;
    margin-left: auto;
    margin-right: auto;
}

.support-layout h2{
    font-size: 2.5em;
}

.support-layout section{
    color: #ffffff;
    margin: 4.5em 3em;
}

.support-layout p{
    margin-top: 1em;
    margin-bottom: 1.8em;
    font-size: 1.25em;
}

.support-layout label{
    display: inline-block;
    height: 30px;
    margin-bottom: 17px;
}

.support-layout section form{
    font-size: 1.25em;
    margin-top: 1em;
}

#submit-form-btn{
    position: relative;
    font-size: initial;
    margin-left: 65px;
}

.support-layout input{
    float: right;
    height: 30px;
    width: 298px;
    margin-bottom: 17px;
}

.support-layout textarea{
    width: 100%;
}

.company-details a{
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width: 1024px){
    .support-layout{
        display: block;
        width: 100%;
    }

    .support-layout input{
        width: 100%;
        max-width: 650px;
    }

    .support-layout h2{
        font-size: 2em;
    }

    .support-layout label{
        width: 115px;
    }
}