.master-container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
} 

.swiper-container {
    position: relative;
    width: 650px;
    height: 600px;
    margin-top: 5em;
  } 

.swiper-slide{
    height: 300px;
    width: 218px;
    color: #ffffff;
}

.swiper-slide p{
    font-size: 1.25em;
    margin: 1em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    color: orange;
    /* Reference: Anderson, G. 2021. [Slide arrow.] Personal image. Sydney */
    background: url('../images/slide-arrow.png');
    height: 160px;
    background-repeat: no-repeat;
    position: absolute;
    top: 160px;
    outline: none;
    z-index: 9;
}

.swiper-button-prev{
    right: auto;
    left: 80px;
    transform: rotate(180deg);
}

.swiper-button-next{
    left: auto;
    right: 80px;
}

.swiper-button-next::after, .swiper-button-prev::after{
    display: none;
  }

.swiper-pagination{
    padding: 10px;
}

.swiper-pagination-bullet{
    height: 20px;
    width: 20px;
    padding-right: 10px;
    background: #FF9D00;
    opacity: 1;
    margin: 5px;
}

.swiper-pagination-bullet-active{
    background: white;
}

@media only screen and (max-width: 1024px){
    .master-container{
        width: 95%;
        max-width: 570px;
    } 

    .swiper-container {
        width: 95%;
        margin-top: 0;
        padding: 0;
      } 

    .swiper-slide{
        width: 95%;
    }

    .swiper-slide img{
        width: 100%;
        padding-top: 80px;
    }

    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
}