/* Add font import for roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* NOT TO SELF work in ems (multiples of 12px fixed and % dynamic */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #242424;
}

#menu-logo{
    position: fixed;
    top: 0px;
    z-index: 2;
}

nav{
    height: 114px;
    position: sticky;
    top: 0px;
    padding-left: 114px;
    background-color: #242424;
    z-index: 1;
}

nav ul{
    display: inline-block;
}

nav li{

    float: left;
    list-style-type: none;
    padding-top: 42px;
}

nav a{

    padding: 10px 40px;
    color: #FF9D00;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    transition: color 0.7s;
}

nav a:hover{
    color: #0086FF;
}

.current-page{
    color: #ffffff;
    border-bottom: #FFFFFF solid 3px;
    padding-bottom: 43px;
}

sl-button{
    width: 121px;
    position: absolute;
    top: 35px;
    right: 64px;
    transition: transform 0.4s;
}

sl-button:hover{
    transform: scale(1.07);
}

sl-button::part(base){
    background: #FF9D00;
    border: none;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: bold;
    color: #242424;
}

.main-heading{
    width: 100%;
    /* margin-left: 100%;
    margin-right: 100%; */
    text-align: center;
}

h1{
    font-size: 80pt;
    display: inline;
    font-weight: bold;
}

.sub-heading{
    width: 100%;
    padding-top: 25px;
    margin-right: 100%;
    text-align: center;
}

h3{
    display: inline-block;
    font-size: 20pt;
    margin: 0px 5px;
    /* text-align: center; */
    /* font-weight: bold; */
}

.orange{
    color: #FF9D00;
}

.blue{
    color: #0086FF;
}

.white{
    color: #FFFFFF;
}

.index img{
    width: 365px;
    transform: skewY(-20deg);

    display: inline-block;
}


sl-dialog{
    --width: 500px;
    /* background-color: #242424; */
}

sl-dialog::part(base){
    border: #ffffff solid 1px;
}


/* CAN'T SEEM TO CHANGE BUTTON SIZE/COLOUR

sl-dialog::part(base::button){
    font-size: 5em !important;
    color: #ffffff !important;
} */

sl-dialog::part(panel){
    background-color: #242424;
    text-align: center;
    height: 500px;
}

sl-dialog p{
    font-family: inherit;
    font-size: 1.25em;
    color: #ffffff;
    padding: 0.7em;
}

sl-dialog h2{
    color: #FF9D00;
    font-family: inherit;
    font-size: 2.5em;
    font-weight: bold;
}

sl-dialog::part(header){
    height: 60px;
}

sl-dialog::part(title){
    display: none;
}

sl-dialog a{
    text-decoration: none;
    color: #ffffff;
}

/* FEATURES RELATED */
.features-layout{
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;

}

.features-layout section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5em;
    padding-bottom: 5em;
}

.orange-line{
    border-bottom: #FF9D00 solid 4px;
}

.blue-line{
    border-bottom: #0086FF solid 4px;
}

.features-layout h2{
    font-size: 2.5em;
}

.features-layout p{
    font-size: 1.25em;
    margin-top: 1em;
}

sl-progress-bar{
    --indicator-color: #FF9D00;
    --track-color: #ffffff;
    --height: 4px;
    width: 100vw;
    position: fixed;
    top: 114px;
}

/* #audio-lines{
    width: 80%;
} */

.feature-img{
    text-align: center;
    margin: 1em;
}

.feature-img p{
    text-align: left;
    margin: 1em;
}

.feature-text{
    width: 90%;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.feature-text img{
    margin-top: 2em;
}

.play-btn, .play-select-btn{
    position: relative;
    height: 60px;
}

.play-select-btn sl-button{
    position: absolute;
    top: 0;
    left: 0;
}

div{
    position: relative;
}

.play-btn{
    position: absolute;
    top: 10px;
    left: 0;
    width: 55px;
}

.play-btn sl-button i{
    position: inherit;
    font-size: 1em;
}

.play-select-btn p{
    margin-left: 150px;
    padding-top: 8px;
}

.play-select-btn sl-button i{
    position: inherit;
    font-size: 1em;
}

svg{
    height: 20%;
    /* width: 70%; */
}

.fa-play{
    color: #0086FF;
}
/* 
.play-btn .fa-play{
    color: #000000;
    padding-left: 5px;
}

.play-btn sl-button::part(base){
    background: #0086FF;
} */