/* Add font import for roboto */
/* NOT TO SELF work in ems (multiples of 12px fixed and % dynamic */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #242424;
    height: 768px;
}

#menu-logo{
    position: fixed;
    top: 0px;
    z-index: 2;
    transition: transform 2s ease;
}

#menu-logo:hover{
    transform: rotateY(360deg);
}

nav{
    height: 114px;
    position: sticky;
    top: 0px;
    padding-left: 114px;
    background-color: #242424;
    z-index: 1;
}

nav ul{
    display: inline-block;
}

nav li{

    float: left;
    list-style-type: none;
    padding-top: 42px;
}

nav a{

    padding: 10px 40px;
    color: #FF9D00;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}

.current-page{
    color: #ffffff;
    border-bottom: #FFFFFF solid 3px;
    padding-bottom: 43px;
}

sl-button{
    width: 121px;
    position: absolute;
    top: 35px;
    right: 64px;
}

sl-button::part(base){
    background: #FF9D00;
    border: none;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: bold;
    color: #242424;
}

.main-heading{
    width: 100%;
    /* margin-left: 100%;
    margin-right: 100%; */
    text-align: center;
}

h1{
    font-size: 80pt;
    display: inline;
    font-weight: bold;
}

.sub-heading{
    width: 100%;
    padding-top: 25px;
    margin-right: 100%;
    text-align: center;
}

h2{
    display: inline-block;
    font-size: 20pt;
    margin: 0px 5px;
    /* text-align: center; */
    /* font-weight: bold; */
}

.orange{
    color: #FF9D00;
}

.blue{
    color: #0086FF;
}

.white{
    color: #FFFFFF;
}

main img{
    width: 365px;
    transform: skewY(-20deg);

    display: inline-block;
}

/* CENTRE THE DIV HERE */
#images{
    height: 375px;
    margin-top: 30px;
    padding-top: 66px;
    width: 865px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    position: relative;
    /* overflow: auto; */
}

#img1{
    grid-column: 1/2;
    /* margin-left: 20%;
    margin-right: 50%; */
    z-index: 0;
}

#img2{
    grid-column: 2/3;
    /* margin-left: 25%;
    margin-right: 40%; */

    z-index: 1;
}

#img3{
    grid-column: 3/4;
    /* margin-left: 30%;
    margin-right: 30%; */
    z-index: 2;
}

#img4{
    grid-column: 4/5;
    /* margin-left: 35%;
    margin-right: 20%; */
    z-index: 3;
}

#img5{
    grid-column: 5/6;
    /* margin-left: 40%;
    margin-right: 10%; */
    z-index: 4;
}

#img6{
    grid-column: 6/7;
    /* margin-left: 45%;
    margin-right: 0%; */
    z-index: 5;
}