/* Add font import for roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* NOT TO SELF work in ems (multiples of 12px fixed and % dynamic */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #242424;
    /* height: 768px; THIS IS THE HEIGHT FOR INDEX*/
}

#menu-logo{
    position: fixed;
    top: 0px;
    z-index: 2;
}

nav{
    height: 114px;
    position: sticky;
    top: 0px;
    padding-left: 114px;
    background-color: #242424;
    z-index: 1;
}

nav ul{
    display: inline-block;
}

nav li{

    float: left;
    list-style-type: none;
    padding-top: 42px;
}

nav a{

    padding: 10px 40px;
    color: #FF9D00;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    transition: color 0.7s;
}

nav a:hover{
    color: #0086FF;
}

.current-page{
    color: #ffffff;
    border-bottom: #FFFFFF solid 3px;
    padding-bottom: 43px;
}

sl-button{
    width: 121px;
    position: absolute;
    top: 35px;
    right: 64px;
    transition: transform 0.4s;
}

sl-button:hover{
    transform: scale(1.07);
}

sl-button::part(base){
    background: #FF9D00;
    border: none;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: bold;
    color: #242424;
}

.main-heading{
    width: 100%;
    /* margin-left: 100%;
    margin-right: 100%; */
    text-align: center;
}

h1{
    font-size: 80pt;
    display: inline;
    font-weight: bold;
}

.sub-heading{
    width: 100%;
    padding-top: 25px;
    margin-right: 100%;
    text-align: center;
}

h3{
    display: inline-block;
    font-size: 20pt;
    margin: 0px 5px;
    /* text-align: center; */
    /* font-weight: bold; */
}

.orange{
    color: #FF9D00;
}

.blue{
    color: #0086FF;
}

.white{
    color: #FFFFFF;
}

.index img{
    width: 365px;
    transform: skewY(-20deg);

    display: inline-block;
}

/* CENTRE THE DIV HERE */
#images{
    height: 375px;
    margin-top: 30px;
    padding-top: 66px;
    width: 865px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    position: relative;
    /* overflow: auto; */
}

#img1{
    grid-column: 1/2;
    /* margin-left: 20%;
    margin-right: 50%; */
    z-index: 0;
}

#img2{
    grid-column: 2/3;
    /* margin-left: 25%;
    margin-right: 40%; */

    z-index: 1;
}

#img3{
    grid-column: 3/4;
    /* margin-left: 30%;
    margin-right: 30%; */
    z-index: 2;
}

#img4{
    grid-column: 4/5;
    /* margin-left: 35%;
    margin-right: 20%; */
    z-index: 3;
}

#img5{
    grid-column: 5/6;
    /* margin-left: 40%;
    margin-right: 10%; */
    z-index: 4;
}

#img6{
    grid-column: 6/7;
    /* margin-left: 45%;
    margin-right: 0%; */
    z-index: 5;
}

footer{
    color: #ffffff;
    margin: 30px;
}

sl-dialog{
    --width: 500px;
    /* background-color: #242424; */
}

sl-dialog::part(base){
    border: #ffffff solid 1px;
}


/* CAN'T SEEM TO CHANGE BUTTON SIZE/COLOUR

sl-dialog::part(base::button){
    font-size: 5em !important;
    color: #ffffff !important;
} */

sl-dialog::part(panel){
    background-color: #242424;
    text-align: center;
    height: 500px;
}

sl-dialog p{
    font-family: inherit;
    font-size: 1.25em;
    color: #ffffff;
    padding: 0.7em;
}

sl-dialog h2{
    color: #FF9D00;
    font-family: inherit;
    font-size: 2.5em;
    font-weight: bold;
}

sl-dialog::part(header){
    height: 60px;
}

sl-dialog::part(title){
    display: none;
}

sl-dialog a{
    text-decoration: none;
    color: #ffffff;
}

/* FEATURES RELATED */
.features-layout{
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;

}

.features-layout section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5em;
    padding-bottom: 5em;
}

.orange-line{
    border-bottom: #FF9D00 solid 4px;
}

.blue-line{
    border-bottom: #0086FF solid 4px;
}

.features-layout h2{
    font-size: 2.5em;
}

.features-layout p{
    font-size: 1.25em;
    margin-top: 1em;
}

sl-progress-bar{
    --indicator-color: #FF9D00;
    --track-color: #ffffff;
    --height: 4px;
    width: 100vw;
    position: fixed;
    top: 114px;
}

/* #audio-lines{
    width: 80%;
} */

.feature-img{
    text-align: center;
    margin: 1em;
}

.feature-img p{
    text-align: left;
    margin: 1em;
}

.feature-text{
    width: 90%;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.feature-text img{
    margin-top: 2em;
}

.play-btn, .play-select-btn{
    position: relative;
    height: 60px;
}

.play-select-btn sl-button{
    position: absolute;
    top: 0;
    left: 0;
}

.play-select-btn p{
    margin-left: 150px;
    padding-top: 8px;
}

.play-select-btn sl-button i{
    position: inherit;
    font-size: 1em;
}

svg{
    height: 20%;
}

.fa-play{
    color: #0086FF;
}



/* TECH SPECS SPEICIFIC */
.specs{
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: 750px;
    padding-top: 4em;
    padding-bottom: 6em;
}

.specs section{
    padding-top: 2em;
}

.specs h2{
    cursor: pointer;
    font-size: 2.5em;
    margin: 0;
}

.spin-animation{
    animation-name: spin;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
        opacity: 1;
        transform-origin: 41% 59%;
    }
    100%{
        transform: rotate(720deg);
        opacity: 0;
        transform-origin: 41% 59%;
    }
}

.fade-in{
    animation-name: minus-fade;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 2s;
}

@keyframes minus-fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* UL ITEMS HIDDEN BY DEFAULT */
.specs ul{
    display: none;
}

.open{
    display: block !important;
}

.specs li{
    font-size: 1.25em;
    color: #FFFFFF;
    list-style-type: "-   ";
    list-style-position: inside;
    padding-top: 10px;
}

section div{
    position: relative;
}

.fas{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    padding-top: 8px;
}


/* SUPPORT RELATED */

.support-layout{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    width: 946px;
    margin-left: auto;
    margin-right: auto;
}

.support-layout h2{
    font-size: 2.5em;
}

.support-layout section{

    color: #ffffff;
    margin: 4.5em 3em;
}

.support-layout p{
    margin-top: 1em;
    margin-bottom: 1.8em;
    font-size: 1.25em;
}

.support-layout label{
    display: inline-block;
    height: 30px;
    margin-bottom: 17px;
}

.support-layout section form{
    font-size: 1.25em;
    margin-top: 1em;
}

#submit-form-btn{
    position: relative;
    font-size: initial;
    margin-left: 65px;
}

.support-layout input{
    float: right;
    height: 30px;
    width: 298px;
    margin-bottom: 17px;
}

.support-layout textarea{
    width: 100%;
}

.company-details a{
    text-decoration: none;
    color: #ffffff;
}


/* INTERFACE PAGE*/

.master-container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
} 

.swiper-container {
    position: relative;
    width: 650px;
    height: 600px;
    margin-top: 5em;
  } 

.swiper-slide{
    height: 300px;
    width: 218px;
    color: #ffffff;

}

.swiper-slide p{
    font-size: 1.25em;
    margin: 1em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    color: orange;
    background: url('images/slide-arrow.png');
    height: 160px;
    background-repeat: no-repeat;
    position: absolute;
    top: 160px;
    outline: none;
}

.swiper-button-prev{
    right: auto;
    left: 80px;
    transform: rotate(180deg);
}

.swiper-button-next{
    left: auto;
    right: 80px;
}


.swiper-button-next::after, .swiper-button-prev::after{
    display: none;
  }

.swiper-pagination{
    padding: 10px;
}

.swiper-pagination-bullet{
    height: 20px;
    width: 20px;
    padding-right: 10px;
    background: #FF9D00;
    opacity: 1;
    margin: 5px;
}

.swiper-pagination-bullet-active{
    background: white;
}